*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(images/bulb.jpeg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;

}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: orangered;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 35px ;
}
nav ul li a{
    position: fixed;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: orangered;
}
.btn{
    background-color: orangered;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h9{
    color: #fcfc;
    font-size: 30px;
    margin-bottom: 50px
}
.btn1{
    background-color: gold;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: .4s;
}
.btn1:hover{
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid orangered;
    cursor: pointer
}
h3{
    color: gold;
    font-size: 45px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(17, 15, 15);
}
.about img{
    height: auto;
}
.about-text{
    width: 550px;
}
button{
    background-color: orangered;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid orangered;
    cursor: pointer;
}
.service{
    background-image: url(images/bulb.jpeg);
    width: 100%;
    padding:100px 0px;

}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 450px;
    width: 335px;
    padding: 20px 35px;
    background-image: url(image/bulb.jpeg);
    border: 1px solid black;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    background: linear-gradient(to top, rgb(255,45,45)50%);
    transition: all.8s;
}
.card:hover{
    background-position: left bottom;
    color: orangered;
    border: none;
    box-shadow: 0 0 20;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: orangered;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: orangered;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid orangered;
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: rgb(12, 11, 11);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: orangered;
    border-radius: 50%;
    margin: 22px 10px; 
    color: white;
    text-decoration: none;
    font-size: 20px;   
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: relative;
    color: orangered;
    font-size: 14px;
}
.headings{
    background-image: url(images/bulb.jpeg);
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: none;
    
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    background-image: url(images/bulb.jpeg);
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}
